# .gitignore automatically created on 2019-09-27 17:21
# adding untracked files on 2019-09-27 17:21
nrs_lib/__pycache__/
tests/__pycache__/
# adding untracked files on 2019-09-29 17:12
gurobi.log
# adding untracked files on 2019-09-29 19:00
.vscode/
# adding untracked files on 2019-10-01 10:55
nrs_io/__pycache__/
# adding untracked files on 2019-10-01 11:13
nrs_lib/nrs_engine/__pycache__/
nrs_lib/nrs_io/__pycache__/
